* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    min-height: 654px;
    background-image: linear-gradient(to right top, black, blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-height: 250px;
    width: 570px;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    /* flex-direction: column; */
}

.box1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

img {
    height: 250px;
    width: 200px;
    border-radius: 15px 0px 0px 15px;
}

.flag {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px
}

.flag>img {
    height: 30px;
    width: 30px
}

span {
    text-decoration: underline;
}

.btn>button {
    padding: 5px;
    border-radius: 10px;
    border: none;
    border: 1px solid black
}


.btn1 button:nth-child(1) {
    width: 250px;
    padding: 10px;
    background-image: linear-gradient(to left bottom, green, blue);
    border: none;
    border-radius: 10px;
    color: aliceblue;


}

.btn1 button:nth-child(2) {
    /* width: 250px; */
    padding: 9px;
    /* background-color: blueviolet; */
    border: none;
    border-radius: 10px;
    border: 1px solid black;


}

.btn>button:hover {
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.btn1 button:nth-child(1):hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn1 button:nth-child(2):hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ------------------- MEDIA QUERY ----------------------- */

/* --------------- MOBILE ------------------ */

@media only screen and (min-width:300px) and (max-width:600px) {

    .container {
        flex-direction: row;
        padding: 20px;
        background-image: linear-gradient(to left top, rgb(37, 17, 70), rgb(151, 15, 15));
    }

    .box {
        flex-wrap: wrap;
    }

    img {
        width: 100%
    }

    .btn1 button:nth-child(2) {
        width: 100%
    }

    .btn1 button:nth-child(1) {
        width: 100%;
        margin-bottom: 10px;
    }

    .box1 {
        width: 100%
    }

    img {
        border-radius: 15px 15px 0px 0px;
    }
    .btn>button{
        margin: 5px;
    }
}