* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: lightblue;
    min-height: 654px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    height: 450px;
    width: 750px;
    background-color: aliceblue;
    display: flex;
    gap: 20px;
    padding: 15px;
}

.box1 {
    height: 430px;
    width: 460px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;

}

.box2 {
    height: 416px;
    width: 330px;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
}

.icon {
    display: flex;
    gap: 20px
}

.fa-2xl {
    margin-top: 10px;
    color: blue;
}

h4 {
    margin-bottom: 20px;
    color: salmon;
}

input {
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    width: 100%;
    outline: none;
}

.inpt {
    display: flex;
    gap: 10px
}

textarea {
    margin-top: 10px;
    height: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    resize: none;
    outline: none;
}

button {
    padding: 12px;
    border: none;
    border-radius: 0px 15px 15px 15px;
    color: aliceblue;
    background-color: blue;
    width: 100px;
    margin-top: 10px;

}

@media only screen and (min-width:300px) and (max-width:600px) {

    .container {
            height:unset;
            padding: 10px;
    
    }

    .box {
        height: unset;
        width: 100%;
        flex-wrap: wrap;
    }
    .box1{
        width: 100%
    }
    .box2{
        height: unset;
        width: 100%;
    }
    .mon{
        width: 50%;
    }
}

@media only screen and (min-width:600px) and (max-width:800px) {

    .container {
            height:unset;
            padding: 15px;
    
    }

    .box {
        height: unset;
        width: 100%;
        /* flex-wrap: wrap; */
    }
    .box1{
        width: 50%
    }
    .box2{
        height: unset;
        width: 100%;
    }
    .mon{
        width: 50%;
    }
    .h4{
        margin: 10px 0px;
    }
}