* {
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
.overall{
    height:640px;
    width:100%;
    background-color:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    width:230px;
    height:200px;
    padding:30px 20px 20px 20px;
    border-radius:5px;
}
.first1{
    background-color:white;
    border-top:4px solid red;
    
}
.first>h3{
    margin-bottom:10px;
}
.first>.img1{
    width:100px;
    height:100px;
    margin-left:100px;
}
.first>.img2{
    width:65px;
    height:65px;
    margin-left:120px;
}
.first>.img3{
    width:65px;
    height:65px;
    margin-left:120px;
}
.first>.img4{
    width:68px;
    height:68px;
    margin-left:120px;
}
.second{
    height:420px;
    width:230px;
    /* background-color:lightseagreen; */
    margin:0px 20px;
}
.second1{
    background-color:white;
    border-top:4px solid gold;
}
.second2{
    background-color:white;
    border-top:4px solid brown;
    margin-top:20px;
}
.third1{
    background-color:white;
    border-top:4px solid green;
}
