*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.laptopconatiner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* background-color: red; */
}
/* firstconatiner start */
.wholediv{
    min-height: 100vh;
    /* padding: 20px; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: aquamarine;
 /* padding-left: 400px; */
 background-image: linear-gradient(#eeaeca,#94bbe9);
 border-radius: 20px;
    
}
.container{
    width: 80%;
    display: grid;
    /* align-items: center; */
    justify-content: center;
   gap: 25px;
   padding: 20px;
   padding-top: 30px;
   grid-template-areas: 'box1 box2 box3 box4'
   'box1 box5 box5 box6';
   /* background-color: red; */
}
.box{
    min-width: 200px;
   min-height: 200px;
    background-color: chocolate;
    border-radius: 20px;
 
}
.box1{
    background-color: cadetblue;
    grid-area: box1;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    align-content: center;
   padding: 20px;
    text-align: center;
    background-image: linear-gradient(#ffffff,#ffffff);
    box-shadow: 0px 0px 20px 10px yellow;
}

.box2{
    background-color: rgb(221, 108, 16);
    grid-area: box2;
}
.box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.box3{
    background-color: rgb(187, 167, 18);
    grid-area: box3;
}
.box3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.box4{
    background-color: rgb(77, 213, 9);
    grid-area: box4;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-content: center;
    padding: 20px;
    background-image: linear-gradient(#ffffff,#ffffff);
    box-shadow: 0px 0px 20px 10px red;
    
}
.box4 p{
    margin-top: 30px;
}
.box5{
    background-color: rgb(10, 107, 219);
    grid-area: box5;
  
}
.box5 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box6{
    background-color: rgb(179, 12, 84);
    grid-area: box6;
}
.box6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* firdtconatinerend */

/* secodcontent */
.secondwholdeiv{
    min-height: 100vh;
    display: flex;
    background-image: linear-gradient(#F5EBFA,#ffffff);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.conatiner2{
    /* background-color: #eeaeca; */
    width: 80%;
    height: 70vh;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    box-shadow: 0px 0px 60px 10px rgb(179, 12, 84);
    background-color: white;
    border-radius: 20px;
}
.secondcontendimage{
    width: 100%;
    /* background-color: red; */
    /* height: 100%; */
    border-radius: 20PX;
}
.secondcontendimage img{
    width: 100%;
    height: 100%;
    border-radius: 20PX;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.secondcontent{
    /* background-color: aqua; */
    width: 100%;
 display:flex;
 flex-direction: column;
 gap: 40px;
 font-size: 25px ;
 border-radius: 20PX;
 border-top-left-radius: 0px;
 border-bottom-left-radius: 0px;

 padding: 40px;
 padding-top: 90px;
 
 
}
.secondcontent p{
    word-spacing: 20px;
    letter-spacing: 2px;
}
.secondcontent button{
    border: none;
    border: 2px solid gray;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    color: black;
    border-radius: 20px;
}
/* secondeconainer end */

/*  */

/* thirddiv content start */
.thirdwholdev{
   min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(48,155,175);
    background: linear-gradient(90deg, rgba(48,155,175,1) 57%, rgba(253,29,232,1) 100%);
}
.thirdecontainer{
    width: 80%;
    /* height: 80vh; */
    display: grid;
    gap: 25px;

    grid-template-areas:'box31 box32 box33 box34 box35'
    'box31 box36 box37 box34 box38' ;
}
.box30{
    background-color: #eeaeca;
    min-width: 260px;
    min-height: 260px;
    border-radius: 20px;

}
.box31{
    background-color: #94bbe9;
    grid-area: box31;
    
}
.box31 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box32{
    background-color: #e994de;
    grid-area: box32;
}
.box32 img{
    width:100% ;
    height: 100%;
    border-radius: 20px;
}
.box33{
    background-color: #6d0a0a;
    grid-area: box33;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(#ffffff,#ffffff);
    box-shadow: 0px 0px 20px 10px red;
}
.box34{
    background-color: #9bb437;
    grid-area: box34;
}
.box34 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.box35{
    background-color: #d39609;
    grid-area: box35;
}
.box35 img{
    width:100% ;
    height: 100%;
    border-radius: 20px;
}
.box36{
    /* background-color: #ee660b; */
    grid-area: box36;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    background-image: linear-gradient(#ffffff,#ffffff);
    box-shadow: 0px 0px 20px 10px yellow;
}
.box37{
    background-color: #462628;
    grid-area: box37;
}
.box37 img{
    width:100% ;
    height: 100%;
    border-radius: 20px;
}
.box38{
    background-color: #84a01f;
    grid-area: box38;
}
.box38 img{
    width:100% ;
    height: 100%;
    border-radius: 20px;
}
/* thirddiv content end */


/* fourtconteiner staert */
.fourthwholdeiv{

min-height: 100vh;
    background-image: linear-gradient(#fd2d2d,#fdbb2d);
border-radius: 20px;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.fouthconiner{
    width: 80%;
    min-height: 80vh;
    /* background-color: #d39609; */
    display: grid;
    gap: 25px;
    grid-template-areas:'box41 box42 box42 box43'
    'box41 box44 box44 box45' ;
}
.box40{
    min-width: 300px;
    min-height: 200px;
    background-color: #eeaeca;
    border-radius: 20px;
    /* padding: 20px; */
}

.box41{
background-color: #ee660b;
grid-area: box41;
}
.box41 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

    .box42{
        grid-area: box42;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:30px;
        background-image: linear-gradient(#7c7b7c,#F5EBFA);
        
        box-shadow: 0px 0px 20px 10px yellow;
       
    }
    .box42 p{
        color: white;
        text-shadow: 20px 20px 20px black;
        font-size: 100px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    .box43{
        background-color: #0bee4b;
        grid-area: box43;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        align-items: center;
        font-size:30px;
        background-image: linear-gradient(#ffffff,#ffffff);
        box-shadow: 0px 0px 20px 10px rgb(179, 12, 12);
        }
        .box44{
            background-color: #ee0b0b;
            grid-area: box44;
            }
            .box44 img{
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
            .box45{
                background-color: #0be6ee;
                grid-area: box45;
                }
                .box45 img{
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }
/* fourt end */










/* meadia query satrt */
/* firstcontent starrt  */
@media only screen and (min-width:300px) and (max-width:400px) {
    .laptopconatiner{
        padding: 4px;
    }
    .container{
        width: 100%;
        display: grid;
        align-items: unset;
        justify-content: center;
       gap: 20px;
       padding: 20px;
       padding-top: 30px;
       grid-template-areas: 'box1'
                            'box2'
                            'box3'
                            'box4'
                            'box5'
                            'box6'

       
    }


}
@media only screen and (min-width:400px) and (max-width:600px) {
    .container{
        width: 90%;
        display: grid;
        align-items: unset;
        justify-content: center;
       gap: 20px;
       padding: 20px;
       padding-top: 30px;
       grid-template-areas: 'box1'
                            'box2'
                            'box3'
                            'box4'
                            'box5'
                            'box6'

       
    }


}

@media only screen and (min-width:600px) and (max-width:800px) {
    .container{
        width: 90%;
        display: grid;
        align-items: unset;
        justify-content: center;
       gap: 20px;
       padding: 20px;
       padding-top: 30px;
       grid-template-areas: 'box1 box2 '
                            'box3 box4'
                            'box5 box6'

       
    }


}

@media only screen and (min-width:800px) and (max-width:1200px) {
    .container{
        width: 90%;
        display: grid;
        align-items: unset;
        justify-content: center;
       gap: 20px;
       padding: 20px;
       padding-top: 30px;
       grid-template-areas: 'box1 box2 '
                            'box3 box4'
                            'box5 box6'

       
    }


}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .laptopconatiner{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        background-color: red;
    }
    /* firstconatiner start */
    .wholediv{
        min-height: 100vh;
        /* padding: 20px; */
        /* background-color: red; */
        display: flex;
        justify-content: center;
        /* align-items: center; */
        background-color: aquamarine;
     /* padding-left: 400px; */
     background-image: linear-gradient(#eeaeca,#94bbe9);
     border-radius: 20px;
        
    }
    .container{
        width: 80%;
        display: grid;
        /* align-items: center; */
        justify-content: center;
       gap: 15px;
       padding: 20px;
       padding-top: 30px;
       grid-template-areas: 'box1 box2 box3 '
       'box4 box5 box6 ';
       /* background-color: red; */
    }
    .box{
        min-width: 200px;
       min-height: 200px;
        background-color: chocolate;
        border-radius: 20px;
     
    }


}

/* firstcontent end */
/*  */

/* second content start */
@media only screen and (min-width:300px) and (max-width:400px) {
    .laptopconatiner{
        padding: 4px;
    }
    .secondwholdeiv{
        /* min-width: 100%; */
        height: 100vh;
        display: flex;
        background-image: linear-gradient(#eeaeca,#94bbe9);
       
        justify-content: unset;
        align-items: center;
        border-radius: 20px;
        padding: 0px;
    }
    .conatiner2{
        /* background-color: #eeaeca; */
        width: 100%;
        min-height: 60vh;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        box-shadow: 0px 0px 60px 10px rgb(179, 12, 84);
        background-color: white;
        border-radius: 20px;
        gap: 20px;
    }
    .secondcontendimage{
        min-width: 100%;
        /* background-color: red; */
        /* height: 100%; */
        border-radius: 20PX;
    }
    .secondcontendimage img{
        width: 100%;
        height: 100%;
        border-radius: 20PX;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .secondcontent{
        /* background-color: aqua; */
        width: 100%;
     display:flex;
     flex-direction: column;
     gap: 40px;
     font-size: 20px ;
     border-radius: 20PX;
     border-top-left-radius: 0px;
     border-bottom-left-radius: 0px;
    
     padding: 20px;
     padding-right: 25px;
     
     
    }
    .secondcontent p{
        word-spacing: 0px;
        letter-spacing: 0px;
        text-align: justify;
    }
    .secondcontent button{
        border: none;
        border: 2px solid gray;
        padding: 20px;
        width: 100%;
        font-size: 20px;
        color: black;
        border-radius: 20px;
    }


}
@media only screen and (min-width:400px) and (max-width:600px) {
    .secondwholdeiv{
        min-width: 100%;
        min-height: 100vh;
        display: flex;
        background-image: linear-gradient(#F5EBFA,#ffffff);
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 20px;
    }
    .conatiner2{
        /* background-color: #eeaeca; */
        min-width: 100%;
        min-height: 70vh;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        box-shadow: 0px 0px 60px 10px rgb(179, 12, 84);
        background-color: white;
        border-radius: 20px;
    }
    .secondcontendimage{
        min-width: 100%;
        /* background-color: red; */
        /* height: 100%; */
        border-radius: 20PX;
    }
    .secondcontendimage img{
        width: 100%;
        height: 100%;
        border-radius: 20PX;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .secondcontent{
        /* background-color: aqua; */
        width: 100%;
     display:flex;
     flex-direction: column;
     gap: 20px;
     font-size: 20px ;
     border-radius: 20PX;
     border-top-left-radius: 0px;
     border-bottom-left-radius: 0px;
    
     padding: 20px;
     padding-right: 25px;
     
     
    }
    .secondcontent p{
        word-spacing: 0px;
        letter-spacing: 0px;
        text-align: justify;
    }
    .secondcontent button{
        border: none;
        border: 2px solid gray;
        padding: 20px;
        width: 100%;
        font-size: 20px;
        color: black;
        border-radius: 20px;
    }



}

@media only screen and (min-width:600px) and (max-width:800px) {
    .secondwholdeiv{
        min-height: 100vh;
        display: flex;
        background-image: linear-gradient(#F5EBFA,#ffffff);
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 20px;
    }
    .conatiner2{
        /* background-color: #eeaeca; */
        width: 100%;
        min-height: 70vh;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        box-shadow: 0px 0px 60px 10px rgb(179, 12, 84);
        background-color: white;
        border-radius: 20px;
    }

    .secondcontendimage{
        min-width: 100%;
        /* background-color: red; */
        /* height: 100%; */
        border-radius: 20PX;
    }
    .secondcontendimage img{
        width: 100%;
        height: 100%;
        border-radius: 20PX;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

}

@media only screen and (min-width:800px) and (max-width:1200px) {
    .secondwholdeiv{
        min-height: 100vh;
        display: flex;
        background-image: linear-gradient(#F5EBFA,#ffffff);
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 20px;
    }
    .conatiner2{
        /* background-color: #eeaeca; */
        width: 90%;
        min-height: 70vh;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        box-shadow: 0px 0px 60px 10px rgb(179, 12, 84);
        background-color: white;
        border-radius: 20px;
    }



}

/* secont s=conte ensd\\ */

/*  */
/* three contaent */
@media only screen and (min-width:300px) and (max-width:600px) {
    .thirdwholdev{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: unset;
        border-radius: 20px;
        padding: 20px;
        border-radius: 20px;
        background: rgb(48,155,175);
        background: linear-gradient(90deg, rgba(48,155,175,1) 57%, rgba(253,29,232,1) 100%);
    }
    .thirdecontainer{
        width: 90%;
       
        display: grid;
        gap: 25px;
    
        grid-template-areas:'box31'
         'box32'
        'box33'
         'box34'
        'box35'
         'box36 '
        'box37'
         'box38'
         ;
    }
   

}
@media only screen and (min-width:600px) and (max-width:800px) {
    .thirdwholdev{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: unset;
        border-radius: 20px;
        padding: 20px;
        border-radius: 20px;
        background: rgb(48,155,175);
        background: linear-gradient(90deg, rgba(48,155,175,1) 57%, rgba(253,29,232,1) 100%);
    }
    .thirdecontainer{
        width: 100%;
       
        display: grid;
        gap: 25px;
    
        grid-template-areas:'box31 box32'
        'box33 box34  '
        'box35 box36 '
        'box37 box38'
         ;
    }
   

}
@media only screen and (min-width:800px) and (max-width:1200px) {
    .thirdwholdev{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: unset;
        border-radius: 20px;
        padding: 20px;
        border-radius: 20px;
        background: rgb(48,155,175);
        background: linear-gradient(90deg, rgba(48,155,175,1) 57%, rgba(253,29,232,1) 100%);
    }
    .thirdecontainer{
        width: 90%;
       
        display: grid;
        gap: 25px;
    
        grid-template-areas:'box31 box32'
        'box33 box34  '
        'box35 box36 '
        'box37 box38'
         ;
    }
   

}
@media only screen and (min-width:1200px) and (max-width:1600px) {
    .thirdwholdev{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: unset;
        border-radius: 20px;
        padding: 20px;
        border-radius: 20px;
        background: rgb(48,155,175);
        background: linear-gradient(90deg, rgba(48,155,175,1) 57%, rgba(253,29,232,1) 100%);
    }
    .thirdecontainer{
        width: 80%;
       
        display: grid;
        gap: 25px;
    
        grid-template-areas:'box31 box32 box33'
        'box34 box35 box36 '
        'box37 box38 box38  '
         ;
    }
   

}
@media only screen and (min-width:1600px) and (max-width:1800px) {
    .thirdwholdev{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: unset;
        border-radius: 20px;
        padding: 20px;
        border-radius: 20px;
        background: rgb(48,155,175);
        background: linear-gradient(90deg, rgba(48,155,175,1) 57%, rgba(253,29,232,1) 100%);
    }
    .thirdecontainer{
        width: 80%;
       
        display: grid;
        gap: 25px;
    
        grid-template-areas:'box31 box32 box33 box34'
        'box31 box35 box36 box34'
        'box31 box37 box38 box34'
         ;
    }

}
/* fourt content start */
@media only screen and (min-width:300px) and (max-width:600px) {
    .fourthwholdeiv{

       min-height: 100vh;
            background-image: linear-gradient(#fd2d2d,#fdbb2d);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: unset;
        }
        .fouthconiner{
            width: 90%;
            min-height: 80vh;
            /* background-color: #d39609; */
            display: grid;
            gap: 25px;
            grid-template-areas:'box41'
             'box42'
            'box43'
            'box44 '
            'box45' ;
        }
        .box42 p{
            color: white;
            text-shadow: 20px 20px 20px black;
            font-size: 40px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
        .box40{
            min-width: 200px;
            min-height: 200px;
            background-color: #eeaeca;
            border-radius: 20px;
            /* padding: 20px; */
        }


}
@media only screen and (min-width:600px) and (max-width:800px) {
    .fourthwholdeiv{

       min-height: 100vh;
            background-image: linear-gradient(#fd2d2d,#fdbb2d);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: unset;
        }
        .fouthconiner{
            width: 100%;
            min-height: 80vh;
            /* background-color: #d39609; */
            display: grid;
            gap: 25px;
            grid-template-areas:'box41 box42'
            'box43 box44 '
            'box45 box45' ;
        }
        .box42 p{
            color: white;
            text-shadow: 20px 20px 20px black;
            font-size: 40px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }


}
@media only screen and (min-width:800px) and (max-width:1200px) {
    .fourthwholdeiv{

       min-height: 100vh;
            background-image: linear-gradient(#fd2d2d,#fdbb2d);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: unset;
        }
        .fouthconiner{
            width: 90%;
            min-height: 80vh;
            /* background-color: #d39609; */
            display: grid;
            gap: 25px;
            grid-template-areas:'box41 box42'
            'box43 box44 '
            'box45 box45' ;
        }
        .box42 p{
            color: white;
            text-shadow: 20px 20px 20px black;
            font-size: 40px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }


}
@media only screen and (min-width:1200px) and (max-width:1600px) {
    .box42 p{
        color: white;
        text-shadow: 20px 20px 20px black;
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}

/* fortn conte end */
/* meadia query end */
    