*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    height:640px;
}
.box {
    width:200px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:5px solid black;
    font-size:40px;
    color:black;
}
.box1{
    background-color:lightblue;
}
.box2{
    background-color:lightgrey;
}
.box3{
    background-color:lightpink;
}
.box4{
    background-color:lightcoral;
}
.box5{
    background-color:lightgreen;
}
